.profile-container {
  padding-block: 50px;
  padding-left: 60px;
}

.profff {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
}

.user-prof {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: gray;
  padding-top: 20px;
  padding-left: 10px;
}

.prof-cont {
  margin-top: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
}

.addi {
  text-decoration: none;
  color: black;
  background-color: rgba(216, 11, 45, 0.781);
  padding-block: 10px;
  border-radius: 10px;
  padding-inline: 10px;
  margin-left: 50px;
}
